<div class="ui segment">
    <form method="get" action="{{ path('sylius_shop_product_index', {'slug': app.request.attributes.get('slug')}) }}" class="ui loadable form">
        <div class="ui stackable grid">
            <div class="twelve wide column">
                {% for filter in products.definition.enabledFilters %}
                    {{ sylius_grid_render_filter(products, filter) }}
                {% endfor %}
            </div>
            <div class="three wide column right aligned right floated">
                <div class="ui buttons">
                    <button type="submit" class="ui primary icon button"><i class="search icon"></i></button>
                    <a href="{{ path('sylius_shop_product_index', {'slug': app.request.attributes.get('slug')}) }}" class="ui negative icon button">
                        <i class="cancel icon"></i>
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>