files:
  /usr/bin/composer-install:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      docker pull oliosinter/sylius-php-fpm:latest
      docker run --rm -i \
      -e "SYMFONY_ENV=$SYMFONY_ENV" \
      -v /var/app/staging/sylius:/var/www/html \
      -v /home/ec2-user/cache:/cache \
      oliosinter/sylius-php-fpm:latest composer install

  /usr/bin/build-frontend:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      docker run --rm -i \
      -v /var/app/staging/sylius:/workspace \
      kkarczmarczyk/node-yarn:latest yarn install

      docker run --rm -i \
      -v /var/app/staging/sylius:/workspace \
      kkarczmarczyk/node-yarn:latest yarn run gulp