{% import '@SyliusUi/Macro/flags.html.twig' as flags %}

<h1 class="ui header">
    <i class="circular cart icon"></i>
    <div class="content">
        {{ 'sylius.ui.summary_of_your_order'|trans }}
    </div>
</h1>
