.DS_Store
Thumbs.db

sylius/app/config/*.local.yml

sylius/var/*
!sylius/var/.gitkeep

sylius/vendor
sylius/node_modules

sylius/bin/*
!sylius/bin/console
!sylius/bin/symfony_requirements

sylius/web/assets
sylius/web/bundles
sylius/web/css
sylius/web/js
sylius/web/media

sylius/etc/build/*
!sylius/etc/build/.gitkeep
