files:

  /usr/bin/composer-install:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      docker run --rm -i \
      -e "SYMFONY_ENV=$SYMFONY_ENV" \
      -e "SYLIUS_DATABASE_HOST=$SYLIUS_DATABASE_HOST" \
      -e "SYLIUS_DATABASE_NAME=$SYLIUS_DATABASE_NAME" \
      -e "SYLIUS_DATABASE_PASSWORD=$SYLIUS_DATABASE_PASSWORD" \
      -e "SYLIUS_DATABASE_USER=$SYLIUS_DATABASE_USER" \
      -v /var/app/staging/sylius:/var/www/html \
      -v /home/ec2-user/cache:/cache \
      oliosinter/sylius-php-fpm:1.0.0 composer install

  /usr/bin/build-frontend:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      docker run --rm -i \
      -v /var/app/staging/sylius:/workspace \
      kkarczmarczyk/node-yarn:7.6-slim yarn install

      docker run --rm -i \
      -v /var/app/staging/sylius:/workspace \
      kkarczmarczyk/node-yarn:7.6-slim yarn run gulp

  /usr/bin/run-migrations:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      docker run --rm -i \
      -e "SYMFONY_ENV=$SYMFONY_ENV" \
      -e "SYLIUS_DATABASE_HOST=$SYLIUS_DATABASE_HOST" \
      -e "SYLIUS_DATABASE_NAME=$SYLIUS_DATABASE_NAME" \
      -e "SYLIUS_DATABASE_PASSWORD=$SYLIUS_DATABASE_PASSWORD" \
      -e "SYLIUS_DATABASE_USER=$SYLIUS_DATABASE_USER" \
      -v /var/app/staging/sylius:/var/www/html \
      oliosinter/sylius-php-fpm:1.0.0 php bin/console doctrine:migrations:migrate -n