commands:

  01_grant_docker_access:
    command: gpasswd -a ec2-user docker

container_commands:

  01_composer_install:
    command: composer-install

  02_build_frontend:
    command: build-frontend

  03_run_migrations:
    command: run-migrations
    leader_only: true

  04_cache:
    command: chmod -R 0777 /var/app/staging/sylius/var/cache

  05_logs:
    command: chmod -R 0777 /var/app/staging/sylius/var/logs