option_settings:
  aws:elasticbeanstalk:application:environment:
    SYMFONY_ENV: 'dev'
    SYLIUS_APP_DEV_PERMITTED: '1'

    SYLIUS_DATABASE_DRIVER: 'pdo_mysql'
    SYLIUS_DATABASE_HOST: ''
    SYLIUS_DATABASE_PORT: '3306'
    SYLIUS_DATABASE_NAME: 'sylius'
    SYLIUS_DATABASE_USER: ''
    SYLIUS_DATABASE_PASSWORD: ''

##    SYLIUS_MAILER_TRANSPORT: ''
##    SYLIUS_MAILER_HOST: ''
##    SYLIUS_MAILER_USER: ''
##    SYLIUS_MAILER_PASSWORD: ''
##    SYLIUS_SECRET: ''