<div class="ui menu large">
    <a href="{{ path('sylius_shop_homepage') }}" class="item"> Главная </a>
    <a href="{{ path('sylius_shop_product_index', {'slug': 'catalog'}) }}" class="item"> Каталог </a>
</div>