{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    <h2 class="ui center aligned icon header">
        {{ 'sylius.ui.server_has_encountered_some_errors'|trans }}
    </h2>
{% endblock %}
